$break-mobile: 420px;
$break-ipad: 775px;

header {
  @media only screen and (max-width: $break-mobile) {
    height: 10%;
  }
}

main {
@media only screen and (max-width: $break-ipad) and (min-width: 421px) {
    column-count: 2;
  }

@media only screen and (max-width: $break-mobile) {
    column-count: 1;
  }
}