@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  font-family: $font;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: $primary-background-color;
}

container {
  @include make-flex(column, center)
  background-color: $secondary-background-color;
  border-radius: 10px;
  border: solid 2px $border-color;
  box-shadow: 0 0 5px $shadow-color;
  break-inside: avoid;
  color: $primary-text-color;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  &:hover {
    box-shadow: 0 0 10px $shadow-hover-color;
    transition: 0.4s;
  }
}

header {
  @include make-flex(row, space-between);
  background-color: $secondary-background-color;
  color: $primary-text-color;
  height: 60px;
  margin-bottom:10px;
  padding: 0 10px;

  p {
    @include make-font(20px, normal, $primary-text-color);
  }
  span {
    color: $accent-color;
  }
}

section {
  button {
    @extend container;
    @include make-font(20px, bold, $accent-color)
    background-color: $secondary-background-color;
    margin-top: 15px;
    outline: none;
    padding: .5%;
    &:hover {
      @include add-hover-state(pointer);
    }
  }
}

form {
  @extend container;
  margin-left: 30%;
  margin-top: 50px;
  position: absolute;
  width: 40%;
  z-index: 2000;
  input {
    @include make-font(16px, normal, $primary-background-color)
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 8px;
    width: 35%;
    &:hover {
      @include add-hover-state(text);
    }
    &:focus {
      outline: none;
    }
  }
}

#failure-message {
  @extend form;
  background-color: #7D0201;
}

#success-message {
  @extend form;
  background-color: #1E812B;
}

.form-button-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.form-button {
  @extend container;
  @include make-font(16px, bold, $primary-text-color)
  background-color: $secondary-background-color;
  margin: 15px 10px;
  outline: none;
  padding: 5px 10px;
  width: 40%;
  &:hover {
    @include add-hover-state(pointer);
  }
}

.error-message {
  color: $accent-color;
  margin-bottom: 10px;
  margin-top: -15px;
}

.update-button {
  border-color: $accent-color;
}

.cancel-button {
  border-color: $border-color;
}

main {
  break-inside: avoid;
  column-count: 3;
  column-width: 15em;
  padding: 10px;
  width: 100%;
}

h1 {
  @include make-font(30px, normal, $primary-text-color);
}

h2 {
  @include make-font(20px, normal, $primary-text-color);
  border-bottom: solid 1px $border-color;
  display: block;
  margin-bottom:15px;
  padding-bottom: 15px;
}

h3 {
  @include make-font(18px, bold, $primary-text-color);
}

p {
  @include make-font(16px, normal, $primary-text-color);
}

#user-admin-info {
  p {
  font-weight: normal;
  }
}

img {
  align-self: center;
  height: 150px;
  width: 100px;
}

.you-vs-world {
  h3 {
    margin: 4px 0px;
  }
  span {
    color: $accent-color;
  }
}

.number {
  @include make-font(40px, bold, $accent-color);
  margin: 3px;
  opacity: 0.8;
}

#winner-name {
  @include make-font(18px, bold, $accent-color);
}

#republic-plaza-challenge {
  @include make-font(20px, bold, $accent-color);
  padding: 0px 2px;
}

.hide {
  display: none !important;
}

.cover {
  background-color: black;
  height: 400%;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

@import 'media-queries';
