@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  font-family: $font;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: $primary-background-color;
}

container {
  background-color: $secondary-background-color;
  border-radius: 10px;
  border: solid 2px $border-color;
  box-shadow: 0 0 5px $shadow-color;
  break-inside: avoid;
  color: $primary-text-color;
  @include make-flex(column, center)
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  &:hover {
    box-shadow: 0 0 10px $shadow-hover-color;
    transition: 0.4s;
  }
}

header {
  background-color: $secondary-background-color;
  color: $primary-text-color;
  @include make-flex(row, space-between);
  height: 60px;
  margin-bottom:10px;
  padding: 0 10px;

  p {
    @include make-font(20px, normal, $primary-text-color);
  }
  span {
    color: $accent-color;
  }
}

section {
  button {
    @extend container;
    background-color: $secondary-background-color;
    @include make-font(20px, bold, $accent-color)
    margin-top: 15px;
    padding: .5%;
    outline: none;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

form {
  @extend container;
  position: absolute;
  width: 40%;
  margin-left: 30%;
  margin-top: 50px;
  z-index: 2000;
  input {
    border-radius: 5px;
    border: none;
    @include make-font(16px, normal, $primary-background-color)
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 35%;
    &:hover {
      transform: scale(1.1);
      cursor: text;
    }
    &:focus {
      outline: none;
    }
  }
}

.form-button-container {
  display: flex;
  width: 80%;
  justify-content: center;
}

.form-button {
  @extend container;
  background-color: $secondary-background-color;
  @include make-font(16px, bold, $primary-text-color)
  margin-top: 15px;
  margin-bottom: 10px;
  margin: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  width: 40%;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.error-message {
  color: $accent-color;
  margin-top: -15px;
  margin-bottom: 10px;
}

.update-button {
  border-color: $accent-color;
}

.cancel-button {
  border-color: $border-color;
}

main {
  break-inside: avoid;
  column-count: 3;
  column-width: 15em;
  padding: 10px;
  width: 100%;
}

h1 {
  @include make-font(30px, normal, $primary-text-color);
}

h2 {
  border-bottom: solid 1px $border-color;
  display: block;
  @include make-font(20px, normal, $primary-text-color);
  margin-bottom:15px;
  padding-bottom: 15px;
}

h3 {
  @include make-font(18px, bold, $primary-text-color);
}

p {
  @include make-font(16px, normal, $primary-text-color);
}

#user-admin-info {
  p {
  font-weight: normal;
  }
}

img {
  align-self: center;
  height: 150px;
  width: 100px;
}

.you-vs-world {
  h3 {
    margin-bottom: 4px;
    margin-top: 4px;
  }
  span {
    color: $accent-color;
  }
}

.number {
  @include make-font(40px, bold, $accent-color);
  margin: 3px;
  opacity: 0.8;
}

#winner-name {
  @include make-font(18px, bold, $accent-color);
}

#republic-plaza-challenge {
  @include make-font(20px, bold, $accent-color);
  padding-left: 2px;
  padding-right: 2px;
}

.hide {
  display: none;
}

.cover {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 400%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

@import 'media-queries';
